$color-primary: #391e88;
$color-primary-dark: #21054d;
$color-secondary: #393636;
$color-btn: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
$color-text: #333;
$color-gray: #f0f0f0;
