/*----------------------------------------
	heading
----------------------------------------*/
.heading {
    text-align: center;
  }
  .heading .ttl {
    font-size: min(8vw, 36px);
    color: #391E88;
  }
  .heading .sub {
    display: block;
    font-size: 13px;
  }
  