/*----------------------------------------
	.container
----------------------------------------*/
.container {
    max-width: 89.3333333333vw;
    width: 100%;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 95.8333333333vw;
    }
  }